@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');



body {
    height: 100%;
    width: 100%;
    font-family: 'poppins',sans-serif;
    color: #012121;


}


.navbar {
    padding: .8rem;

}

.navbar-nav li {
    padding-right: 100px;
   
}
.nav-link {
    font-size: 1.3em !important;
    
}


.display-2  {
    text-align: center;
    font-size: 45px;
    padding-top: 100px;
    line-height: 3rem;
}

.col-lg-6 {
    padding-left: 3rem;

}
.col-lg-6 p {
    padding-top: 10rem;


}

.col-lg-6 h3 {

    font-size: 2rem;
    line-height: 5rem;
}

hr.light   {
    border-top:1px solid #707070; 
    width: 75%
}
hr.light-100 {
    border-top:1px solid #707070;
    width: 100%;
}
.artist-base {
    border-color:#707070;
    width: 97%;
}


.btn {
    float: right;
    position: relative;
    z-index: 5;
    margin-right: 30px;
    margin-top: 2rem;
}

footer {

    font-size: 14px;   
    background-color: #03003A;
    color: #FDE5E0;
    padding-top:2rem;

}
.col-12 h5 {

    padding-bottom: .8rem;
}




.gallery-block .heading{margin-bottom: 50px; text-align: center;}
.gallery-block .heading{ font-weight: bold; font-size: 1.4rem;  color:#012121; }
.gallery-block.compact-gallery .item {
    overflow: hidden;
    margin-bottom: 0px;
    background: black;
    opacity: 1;

}
.gallery-block.compact-gallery .item .images{
    transition: 0.8s ease;

}
.gallery-block.compact-gallery .item .info{
    position: relative;
    display: inline-block;
}
.gallery-block.compact-gallery .item .description{
    display: grid;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 1;
    color: #fff;
    transition: 0.8s ease;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.39)); 
}
.gallery-block.compact-gallery .item .description .description-heading{
    font-size: 1em;
    font-weight: normal;

}


.footer p {
   margin-top: -3.2rem;
    padding-top: 2.7rem
}
.col-md-4 hr {
    padding-bottom: 2rem
}



/*Jumbotron Parallax*/
/*Artist-Page-css*/

.artist-hero parallax--bg {

    padding-bottom: 20px;
}



.gallery-block{
    padding-bottom:120px;
    padding-top: 100px;
    background-image: linear-gradient(
        to bottom, 
        rgba( 0, 0, 0, .3),
        rgba( 0, 0, 0, 1)),
        url(img/f2.jpg);



    background-color:  rgba(1, 33, 33, 0.53);


}

.container {
    padding-bottom: 5rem
}
.container h1 {
    padding-top: 3rem;
}

.artist-textbox p{

    color: #fff;
    padding: 7rem;
    text-align: center

}
.artist-textbox h1 {

    font-weight: 500;
    font-size: 3rem;
    padding-bottom: 2rem;
    color:#fff;
}
p {
    text-align: center;
    padding-top:  1.5rem;
    padding-bottom: 2rem;
}


.
.col-sm-12 h1 {
    padding-top: 2rem;
}
.col-md-4 light {
    color: aqua;
}



.artist-hero {

    background-image: url(Your-images/img-3%20opac.jpg);

    
    background-size: cover;
    background-position: center;
    padding: 3em 0;
   

}

h1 {
    color:#000;
    font-weight: 400;
    text-align: center;
}

figure {
    margin: auto; 

}



img {
    max-width: 100%; 
}


/*---Media Queries --



/*min-width:320px*/
@media(min-width:320px){


    .schedule {
        height: 100vh;
    }

    .artist-hero {
        height: 100vh;

    }


    .gallery-block.compact-gallery .item .description {
        opacity: 0;
    }
    .gallery-block.compact-gallery .item .description {
        opacity: 1;
    }
    .gallery-block .zoom-on-hover:hover .image{
        transform: scale(1.3);
        transition-duration: 1.5s;
        opacity: 0.5;
    }

}


@media (max-width: 768px) {

    

  
    
}


/* For devices larger than 576px */
@media (min-width: 576px) {
    
 
    .container {
        width: 80%; }


    .four.columns {
        width: 30.6666666667%; }

    .vendor-pics figcaption {
        position: absolute;
        bottom: 10px;
        left:-100%;
        background: black;
        color: white;
        padding: 2px 8px;
        font-size: 11px;
        transition: all 0.3s ease-in-out; }


}


/*576px-and-under*/

@media (max-width: 576px) {
    


    .vendor-pics figcaption {
        position: absolute;
        bottom: 10px;
        left:-100%;
        background: black;
        color: white;
        padding: 2px 8px;
        margin-left: 12px;
        font-size: 11px;
        transition: all 0.3s ease-in-out; }

    .col-lg-6 {
        padding-left: 1rem;

    }
    .col-lg-6 p {
        padding-top: 8rem;
    }

    .carousel-caption h1 {
        top: 20%;
        font-size: 60px;
    }
    .carousel-caption h2 {

        top: 30%;
        font-size: 30px;
    }


    .display-2 {
        text-align: center;
        font-size: 1.5rem;
        padding-top: 100px;
    }

    .h3 {

        font-size: 25px;
    }
    .col-lg-6 h3 {

        font-size: 1.5rem;
        line-height: 5rem;
    }

    .col-12 h5 {
        font-size: .9rem;
        
    }
    
       
/*
  .artist-textbox p{

    color: #fff;
    text-align: center;
    font-size: 1rem;
    width:  100vw;
    

}
*/




}

/*Large (lg) devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    
       
/*
.artist-textbox {

    color: #fff;
    font-size: 1.2rem;
    padding: 2rem;

    margin-left:10rem;
    width:  70vw;
   

}
*/
    


    .navbar {
        padding: .8rem;

    }

    .navbar-nav li {
        padding: 20px;
    }
    .nav-link {
        font-size: 1.3em !important;
    }

}
@media (max-width: 992px) {
    
    
  
    
    
    
    
    
    
    
}
@media (max-width: 320px){

    .carousel-caption h1 {
        top: 20%;
        font-size: 40px;
    }
    .carousel-caption h2 {

        top: 30%;
        font-size: 22px;
    }  
      




}



/*
Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) 

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) 

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) 

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) 
